body {
  margin-right: auto;
  margin-left: auto;
  background: #c7c8b0;
}

@media screen and (min-width: 900px) {
  body {
    width: 900px;
  }
}

h1 {
  font-size: xxx-large;
}

h2 {
  font-size: xx-large;
}

h3 {
  font-size: x-large;
}

.content {
  padding: 8px;
  color: #504235;
  text-align: center;
  list-style-position: inside;
}

@media screen and (min-width: 900px) {
  .content {
    text-align: left;
    list-style-position: initial;
  }
}

.content h1, h2, h3 {
  font-family: "Protest Strike", sans-serif;
}

.content p, ol {
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.content a, a:visited {
  color: #504235;
}

.credits h3 {
  margin-bottom: 12px;
}

.credits p {
  color: #504235;
  font-family: urbanist;
  font-weight: 500;
  font-size: 14px;
}